/** @format */

body {
  margin: 0;
  font-family: 'Space Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  position: absolute;
  width: 483px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: #21092f;
}

.face-card-details {
  height: 245px;
  width: 447px;
  position: absolute;
  left: 164px;
  top: 187px;
  background: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
  border-radius: 10px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}

.card-header {
  display: flex;
}

.big-circle {
  position: absolute;
  left: 7.16%;
  right: 82.34%;
  top: 11.43%;
  bottom: 69.39%;
  border-radius: 50%;
  background: #ffffff;
}

.small-circle {
  position: absolute;
  left: 21.22%;
  right: 74.05%;
  top: 16.7%;
  bottom: 74.66%;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.card-number {
  height: 36px;
  width: 372px;
  position: absolute;
  top: 41%;
  left: 8%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 3.42222px;
  color: #ffffff;
  z-index: 999;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 383px;
  position: absolute;
  top: 78%;
  left: 8%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  z-index: 999;
}

.back-card-details {
  position: absolute;
  width: 447px;
  height: 245px;
  left: 258px;
  top: 469px;
  background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
  border-radius: 10px;
}

.black-rectangle {
  position: absolute;
  top: 10%;
  width: 447px;
  height: 54px;
  background: #2f2f2f;
}

.grey-rectangle {
  position: absolute;
  top: 42%;
  left: 10%;
  height: 38px;
  width: 361px;
  border-radius: 4px;
  background: #adb5be;
}

.backcard-png {
  position: absolute;
  left: 30%;
  top: 70%;
}

.form-card {
  position: absolute;
  width: 381px;
  height: 352px;
  left: 832px;
  top: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formGrid {
  display: flex;
  justify-content: space-between;
}

.textField {
  width: 381px;
  border-radius: 8px;
}

.textField p {
  position: absolute;
  top: -60%;
  margin: 0;
  color: #21092f;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.textField label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #21092f;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.expDate {
  width: 80px;
  margin-right: 10px;
}

.cvc {
  width: 191px;
}

.muiButton {
  width: 381px;
  height: 53px;
}

.oval-container {
  position: absolute;
  width: 546px;
  height: 506px;
  left: 0px;
  top: -118px;
}

.oval-pink {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 37%;
  top: 0%;
  border-radius: 0px;
  background: #d53aff;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}

.oval-orange {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 57%;
  top: 0%;
  border-radius: 0px;
  background: #ff834a;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}

.oval-blue {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 30%;
  top: 30%;
  border-radius: 0px;
  background: #47a2ff;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}
