/** @format */

body {
  margin: 0;
  font-family: 'Space Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  position: absolute;
  width: 483px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: #21092f;
}

/* ==== Front Card === */

.face-card-details {
  height: 245px;
  width: 447px;
  position: absolute;
  left: 164px;
  top: 187px;
  background: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
  border-radius: 10px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}

.card-header {
  display: flex;
}

.big-circle {
  position: absolute;
  left: 7.16%;
  right: 82.34%;
  top: 11.43%;
  bottom: 69.39%;
  border-radius: 50%;
  background: #ffffff;
}

.small-circle {
  position: absolute;
  left: 21.22%;
  right: 74.05%;
  top: 16.7%;
  bottom: 74.66%;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.card-number {
  height: 36px;
  width: 372px;
  position: absolute;
  top: 41%;
  left: 8%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 3.42222px;
  color: #ffffff;
  z-index: 999;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 383px;
  position: absolute;
  top: 78%;
  left: 8%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  z-index: 999;
}

.card-date {
  display: flex;
  justify-content: space-between;
}

/* ==== Back Card === */

.back-card-details {
  position: absolute;
  width: 447px;
  height: 245px;
  left: 258px;
  top: 469px;
  background: linear-gradient(168.73deg, #ffffff 5%, #d2d3d9 91.69%);
  border-radius: 10px;
}

.back-card-cvc {
  float: right;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  padding-right: 10px;
}

.black-rectangle {
  position: absolute;
  top: 10%;
  width: 447px;
  height: 54px;
  background: #2f2f2f;
}

.grey-rectangle {
  position: absolute;
  top: 42%;
  left: 10%;
  height: 38px;
  width: 361px;
  border-radius: 4px;
  background: #adb5be;
}

.backcard-png {
  position: absolute;
  left: 30%;
  top: 70%;
}

/* ==== Form === */

.form-card {
  position: absolute;
  width: 381px;
  height: 352px;
  left: 832px;
  top: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formGrid {
  display: flex;
  justify-content: space-between;
}

.textField {
  width: 381px;
  border-radius: 8px;
}

.textField p {
  position: absolute;
  top: -60%;
  margin: 0;
  color: #21092f;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.textField label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #21092f;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.expDate {
  width: 80px;
  margin-right: 10px;
}

.cvc {
  width: 191px;
}

.muiButton {
  width: 381px;
  height: 53px;
}

.oval-container {
  position: absolute;
  width: 546px;
  height: 506px;
  left: 0px;
  top: -118px;
}

.oval-pink {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 37%;
  top: 0%;
  border-radius: 0px;
  background: #d53aff;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}

.oval-orange {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 57%;
  top: 0%;
  border-radius: 0px;
  background: #ff834a;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}

.oval-blue {
  height: 363px;
  width: 131px;
  position: absolute;
  left: 30%;
  top: 30%;
  border-radius: 0px;
  background: #47a2ff;
  mix-blend-mode: normal;
  opacity: 0.85;
  filter: blur(80px);
  transform: rotate(45deg);
}

/* ==== Modal === */

.modal {
  width: 381px;
  height: 291px;
  position: absolute;
  left: 832px;
  top: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.thanking h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #21092f;
}

.thanking p {
  font-size: 18px;
  font-weight: 500;
  color: #8f8694;
}

.circleIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIcon svg {
  color: white;
  font-size: xx-large;
}

@media only screen and (max-width: 376px) {
  .layout {
    width: 375px;
    height: 240px;
  }

  /* ==== Front Card === */
  .face-card-details {
    height: 157px;
    width: 286px;
    position: absolute;
    left: 16px;
    top: 126px;
    border-radius: 6px;
    border: none;
    z-index: 99;
  }
  .card-number {
    height: 23px;
    width: 239px;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .card-footer {
    height: 12px;
    width: 245px;
    font-size: 9px;
  }

  /* ==== Back Card === */
  .back-card-details {
    height: 157px;
    width: 286px;
    left: 73px;
    top: 32px;
    border-radius: 6px;
  }
  .back-card-cvc {
    font-size: 9px;
    letter-spacing: 1px;
  }
  .black-rectangle {
    width: 286px;
    height: 34px;
  }
  .grey-rectangle {
    height: 28px;
    width: 231px;
  }
  .backcard-png {
    display: none;
  }

  /* ==== Form === */
  .form-card {
    position: absolute;
    width: 327px;
    height: 328px;
    left: 24px;
    top: 331px;
  }
  .textField {
    width: 327px;
  }
  .textField p {
    letter-spacing: 1px;
  }
  .expDate {
    width: 72px;
  }
  .cvc {
    width: 164px;
  }
  .muiButton {
    width: 327px;
  }

  /* ==== Modal === */
  .modal {
    position: absolute;
    width: 327px;
    height: 291px;
    left: 24px;
    top: 331px;
  }
}
